<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <title>Order Complete!</title>
</head>
<body>
    <div id="top_panel" class="panel">
        <div style="padding: 5px" id="top_panel_container">
            <a href="https://ontariotechu.ca/"><img src="{{ url_for('static', filename='images/otu-icon.png') }}" id="icon" alt=""></a>
            <h1 id="title">ONTECH <span style="color: #ff6a39; font-weight: 600">CINEMA</span></h1>
        </div>
        <div class="nav">
            <a href="/"><h4 style="vertical-align: middle; margin-top: 25px">HOME</h4></a>
        </div>
    </div>
    <div style="width: 1000px; margin: auto; ">
        <h1 style="margin-left: auto; margin-right: auto; text-align: center; margin-top: 10px; margin-bottom: 10px">Thank you for your order, {{ user.first_name }}!</h1>
        <img style="width: 200px; margin-top: 0; top: 0; vertical-align: top" src="{{ url_for('static', filename=movie.photo_url) }}" alt="">
        <div style="display: inline-block">
            <h4 style="margin-left: 10px; margin-bottom: 5px">Your order number: <span style="color: #ff6a39; font-weight: 600">{{ order.order_id }}</span></h4>
            <h4 style="margin-left: 10px; margin-bottom: 5px">Order details:</h4>
            <h6 style="margin-left: 10px; margin-bottom: 5px">Movie: {{ movie.name }}</h6>
            <h6 style="margin-left: 10px; margin-bottom: 5px">Order date: {{ order_date }}</h6>
            <h6 style="margin-left: 10px; margin-bottom: 5px">Theatre: {{ screening.theatre }}</h6>
            <h6 style="margin-left: 10px; margin-bottom: 5px">Seats: <span style="color: #ff6a39; font-weight: 600">{{ order.seats }}</span></h6>
            <h6 style="margin-left: 10px; margin-bottom: 5px">Screening date: {{ screening_date }}</h6>
        </div>
    </div>
    <footer id="bottom_panel" class="panel">
        <div style="padding: 5px" id="bottom_panel_container">
            <a href="https://ontariotechu.ca/"><img src="{{ url_for('static', filename='images/otu.png') }}" id="logo" alt=""></a>
            <h6 id="copyright">Copyright <span style="color: #ff6a39; font-weight: 600">OnTech Cinema 2020</span></h6>
            <div style="horiz-align: right; display: inline-block">
            </div>
        </div>
    </footer>
</body>
</html>